body {
  background-image: url(../src/LandscapePokemon.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
 
.Carte {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 250px;
  background: #ffffff;
  border: 8px solid #fee400;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  position: relative;
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin: 40px;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}


.Carte:hover {
  transform: scale(2);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.94);
  background-image: url(https://i.gifer.com/5zWt.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Carte:hover {
  transform: scale(1.05);
  background-image: url(https://i.gifer.com/7HHr.gif);
  mix-blend-mode: screen;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.image {
  width: 100%;
  height: 50%;
  padding: 30px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.titre {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}


.Carte:after {
  content: url('/Users/baptisteharbuz/Desktop/ForEach Academy/VS Code/REACT/Pokedex/pokedex/src/Shiny.gif');
  position: absolute;
  top: 0;
  left: 0;
  background-blend-mode: overlay;
  z-index: 2;
  width: 100%;
  height: 100%;
  filter: brightness(1) contrast(1);
  top: calc(var(--y, 0) * 1px - 50px);
  left: calc(var(--x, 0) * 1px - 50px);
  background: radial-gradient(white, #3984ff00 80%);
  opacity: 0;
  transition: opacity 0.2s;
  opacity: 0.75;
  mix-blend-mode: color-dodge;
}

.recherche {
  background: rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(17.3px);
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%;
  }
}

.pok {
  display: flexbox;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.nav {
  background: rgba(255, 255, 255, 0.39);
  display: flexbox;
  justify-content: center

}

.dropdown-menu{
max-height: 300px;
overflow: auto;
}

.dropdown-menu > .dropdown-item:hover {
background-color: #fee400;
  }

/* .img.animated:before {
    transition: none;
    -webkit-animation: holoGradient 12s ease 0s 1;
    animation: holoGradient 12s ease 0s 1;
}
.img:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
    opacity: 0.5;
    filter: brightness(0.5) contrast(1);
    z-index: 1;
}
.img:before, .img:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    mix-blend-mode: color-dodge;
    transition: all 0.33s ease;
} */


