body {
  background-image: url(../src/LandscapePokemon.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
 
/* CSS pour styliser la carte Pokémon */
.Carte {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 250px;
  background: #ffffff;
  border: 8px solid #fee400;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  position: relative;
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin: 40px;
  
}
.Carte:hover {
  transform: scale(2);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.94);
  background-image: url(https://i.gifer.com/5zWt.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Carte:hover {
  transform: scale(1.05);
  background-image: url(https://i.gifer.com/7HHr.gif);
  mix-blend-mode: screen;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.image {
  width: 100%;
  height: 50%;
  padding: 30px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.titre {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

/* CSS pour l'effet brillant au passage de la souris */

/* CSS pour le GIF en superposition */
.Carte::after {
  content: url('/Users/baptisteharbuz/Desktop/ForEach Academy/VS Code/REACT/Pokedex/pokedex/src/Shiny.gif');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  mix-blend-mode: screen;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%;
  }
}

.pok {
  display: flexbox;
  align-items: center;
  justify-content: center;

  width: 150px;
}


.nav {
  display: flexbox;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 78, 141),rgb(248, 219, 0));
}

.transparent-ice-background {
  background: rgba(255, 255, 255, 0.5); /* Couleur de fond transparente */
  backdrop-filter: blur(5px); /* Effet de glace (flou) */
  padding: 0px; /* Espace intérieur pour le contenu */
  border-radius: 10px; /* Coins arrondis pour l'effet de glace */
}


